@page "/"
@inherits IndexBase
<PageTitle>Index</PageTitle>

<h1>Studentlar ro'yxati</h1>

Assalomu Alaykum Okalar
@foreach (var student in Students)
{
	<Student Email ="@student.Email" FirstName="@student.FirstName" DateOfBirth ="@student.LastName" Phone ="@student.Phone" ></Student>
}
<div class="float-end">
	<a href="/student" class="btn btn-primary">Student</a>
</div>

