@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title = "Salom mening ismim Mansurjon" Date="@(new DateOnly(2002,11,11))"/>
<SurveyPrompt Title="How is Blazor working for you?" Date="@(new DateOnly(2002,07,16))" />
<SurveyPrompt Title="How is Blazor working for you?" Date="@(new DateOnly(2002,11,24))" />

