@page "/student"
@inherits StudentBase
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>
        @OnlineCourse.Web.Models.Student.FirstName @("Salom mening yoshim")
    </strong>
    <strong>
        @OnlineCourse.Web.Models.Student.DateOfBirth @(new DateTime(2002, 07, 16))
    </strong>
</div>




