@page "/Student"
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>
        @Title
    </strong>

    <strong>
        @Date
    </strong>
</div>
<SurveyPrompt Title="Salom mening ismim Mansurjon" Date="@(new DateOnly(2002,11,11))" />

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public DateOnly Date { get; set; }
}
