@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Student Title="How is Blazor working for you?" Date="(new DateTime(2002,07,16))" />
<Student Title="Assalom alekum akalar nima gaplar?" Date="(new DateTime(2002,11,27))" />

